#nav_dream{
	height: 30px;
	width: 30px;
}
#nav{
	position:fixed; 
	top:0; 
	width:100%; 
	height: 30px; 
	background: #33000000;
}
#index{
	height: 7550px;
}
#w{
	background: #6c757d;
}
.index_blank{
	height: 870px;
}
.index_main{
	position: relative;
	height: 6680px;
	background: #FFFFFF;
}
.footer{
	height: 40px;
	line-height: 40px;
	position:absolute;
	left:0;
	bottom: 0;
	width: 100%;
	text-align: center;
	background: #333;
	color: #fff;
	font-family: Arial;
	font-size: 12px;
	letter-spacing: 1px;
}
#basic{
	height: 900px;
	text-align: center;
	background: #FCFCFC;
}
.personal_img{
	margin-top: 200px;
}
.name{
	margin-top: 10px;
}
.basic_data{
	width: 400px;
	margin:0px auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border-spacing: 10px;
}
.td_first{
	border-bottom:2px solid #5C50E6;
	padding-bottom: 5px;
}
.td_second{
	border-bottom:2px solid #5C50E6;
	padding-bottom: 5px;
	padding-top: 5px;
}
.td_third{
	padding-top: 5px;
}
#edu{
	height: 900px;
	text-align: center;
	background: #FAFAFA;
}
#skill{
	height: 900px;
	text-align: center;
	background: #F7F7F7;
}
#honor{
	height: 900px;
	text-align: center;
	background: #F4F4F4;
}
#hobby{
	height: 900px;
	text-align: center;
	background: #F2F2F2;
}
#contact{
	height: 900px;
	text-align: center;
	background: #F0F0F0;
}