#nav_dream{
	height: 30px;
	width: 30px;
}
#nav{
	position:fixed; 
	top:0; 
	width:100%; 
	height: 30px; 
	background: #33000000;
}
#index{
	height: 7684px;
}
#w{
	background: #6c757d;
}
.index_blank{
	height: 870px;
}
.index_main{
	
	height: 6814px;
	background: #FFFFFF;
}
.footer{
	height: 40px;
	line-height: 40px;
	left:0;
	bottom: 0;
	width: 100%;
	text-align: center;
	background: #333;
	color: #fff;
	font-family: Arial;
	font-size: 12px;
	letter-spacing: 1px;
}
#basic{
	height: 900px;
	margin-left: 0px auto;
	margin-right: 0px auto;
	text-align: center;
	background: #FCFCFC;
}
.personal_img{
	margin-top: 80px;
}
.name{
	margin-top: 10px;
}
.basic_data{
	width: 400px;
	margin:0px auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border-spacing: 10px;
}
.td_first{
	border-bottom:1px solid #5C50E6;
	padding-bottom: 5px;
}
.td_second{
	border-bottom:1px solid #5C50E6;
	padding-bottom: 5px;
	padding-top: 5px;
}
.td_third{
	padding-top: 5px;
}
#basic p{
	width: 600px;
	margin:0px auto;
}
#edu{
	height: 900px;
	width: 100%;
	text-align: center;
	background: #FAFAFA;
}
.edu_data{
	width: 70%;
	margin:0px auto;
	margin-bottom: 20px;
	border-spacing: 20px;
	padding-top: 20px;
}
td.edu_data{
	text-align: center;
	width: 300px;
}
#hnu_logo{
	height: 200px;
	width: 200px;
}
#qst_logo{
	height: 60px;
	width: 250px;
}
#skill{
	height: 900px;
	text-align: center;
	background: #F7F7F7;
}
#workk{
	margin-top: 100px;
}
#showarea{
	height: 50%;
	width: 100%;
	margin-top: 50px;
	text-align: center;
	position: relative;
}
.skill_show{
	width: 400px;
	margin:0px auto;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	border-spacing: 10px;
}
#d1_div{
	width: 100%;
	height: 40%;
	margin: 0px auto;
	text-align: center;
}
td.skill_show{
	text-align: center;
}
#d1,#d2,#d3,#d4,#d5{
	position: absolute;
	width: 100%;
	height: 50%;
	background-color: #F7F7F7;
	font-family: Raleway;
}
#d1_bg h1,#d2_bg h1,#d3_bg h1,#d4_bg h1,#d5_bg h1{
	/* for IE */
  	filter:alpha(opacity=20);
  	/* CSS3 standard */
  	opacity:0.2;
	color: #9370DB;
	font-family: Raleway;
}
.d_t{
	width: 90%;
	text-align: center;
	position: relative;
}
.d_te,.d_bg{
	position: absolute;
}
#d1 p,#d2 p,#d3 p,#d4 p,#d5 p{
	font-size: 18px;
}
#honor{
	height: 900px;
	background: #F4F4F4;
	display: block;
}
#project{
	background: #EDEDED;
	height: 1414px;
	display: block;
}
.project_bg{
	width: 70%;
	margin: 0px auto;
}
#hobby{
	height: 900px;
	background: #EBEBEB;
}
#prize,#life{
	margin-left: 120px;
	margin-right: 120px;
}
.table_header{
	margin-top: 20px;
	margin-bottom: 30px;
}
td.table_home{
	text-align: left;
}
th.table_home{
	text-align: left;
}
#contact{
	height: 900px;
	text-align: center;
	background: #E8E8E8;
}
.contact_main{
	margin: 0px auto;
}
.con{
	display:inline-block;
}
.con:hover{
	transform: scale(1.3);
	transition: all 1s ease 0s;
	-webkit-transform: scale(1.3);
	-webkit-transform: all 1s ease 0s;
}
#contact a{
	text-decoration:none;
	color: #000000;
}
.contact_img{
	float: left;
	margin-right: 10px;
}
.contact_text{
	float: left;
	margin-right: 50px;
}